<!DOCTYPE html>
<html lang="en" style="background-color: black">
<head>
    <title>404 - Page Not Found</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    h1 {
        text-align:center;
        font-size: 50px;
        color: rgb(252, 2, 2);
    }
    p {
        text-align:center;
        font-size: 25px;
        color: white;
        word-spacing: 5px;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
</style>
<body>
    <h1>404 - Page Not Found</h1>
    <p>The requested page is <b style="color: rgb(255, 0, 0);">NOT</b> on my Flask routes.</p>
    <br>
    <img src="https://media.giphy.com/media/l2JehQ2GitHGdVG9y/giphy.gif" alt="404 Error - Page Not Found">
</body>
</html>